* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4efe6;
  color: #222;
}

header {
  background: #6b3e1d;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  font-size: 50px;
}

nav {
  background: #3d220f;
  text-align: center;
  padding: 15px;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

button {
  background: #8b4513;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 18px;
}

#text {
  margin-top: 20px;
  font-size: 20px;
}

.card {
  background: white;
  width: 85%;
  margin: 30px auto;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card h2 {
  color: #8b4513;
  margin-bottom: 15px;
}

ul, ol {
  padding-left: 20px;
}

footer {
  background: #3d220f;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  }
